link(rel='stylesheet', href='/stylesheets/auth.css')
  form.formCenter(action="auth/galvanize" method = "POST")
    section
      if (errors.length > 0)
        for error in errors
          li.errorMsg error
    fieldset
      legend Login
      
      label(for="name") User Name <br>
      br
      input(type = "text", id="userName", name="userName", placeholder="Enter user name")
      br
      label(for="password") Password
      br
      input(type = "password", id="password", name="password", placeholder="Enter password")
      br
      input(type = "submit")
      br
      a(href = "/auth/register")
        button(type="button") Create an Account
