section
  if (errors.length > 0)
    for error in errors
      li.errorMsg error
fieldset
  label(for="title") Title
  br
  input(type = "text", id="title", name="title")
  br
  br
  label(for="genre") Genre
  br
  input(type = "text", id="genre", name="genre")
  br
  br
  label(for="cover_url") Cover Image URL
  br
  input(type = "text", id="cover_url", name="cover_url")
  br
  br
  label(for="description") Description
  br
  textarea.textDescription(id="description", name="description")
  br
  br
  label(for="authorList") Authors
  br
  div.textAuthors(id="authorList", name="authorList")
  section.sectionAuthorRemove
    for author in authors
      button.btnRemove Remove
  select#authorSelect(name="authors" )
    for author in authors
      option(value="#{author.id}") #{author.first_name} #{author.last_name}
  script.
    var addAuthor = function() {
      var selectList = document.getElementById('authorSelect');
      var index = selectList.selectedIndex;
      var value = selectList[index].value;
      var authorDiv = "<div id = " + value + "> </div>"
      $('#authorList').append(authorDiv);
      var authorName = selectList[index].text;
      alert(authorName);
      var authorText = "<input id = authorSelect[" + value + "], value = \"" + authorName +  "\">" + "</input>";
      $('#'+value).append(authorText);
      var removeId = document.createElement('button');
      removeId.setAttribute("value", index);
      removeId.setAttribute("text", Remove);
      $('#authorList').append(removeId);
    }
  button.btnAuthor(type="button", onclick='addAuthor()') Add Author
  br
  br
  input(type = "submit", value = "Add Book")
