section
  if (errors.length > 0)
    for error in errors
      li.errorMsg error
fieldset
  label(for="title") Title
  br
  input(type = "text", id="title", name="title")
  br
  br
  label(for="genre") Genre
  br
  input(type = "text", id="genre", name="genre")
  br
  br
  label(for="cover_url") Cover Image URL
  br
  input(type = "text", id="cover_url", name="cover_url")
  br
  br
  label(for="description") Description
  br
  textarea.textDescription(id="description", name="description")
  br
  br
  label(for="authorList") Authors
  br
  div.textAuthors(id="authorList", name="authorList")
  select#authorSelect(name="authors" )
    for author in authors
      option(value="#{author.id}") #{author.first_name} #{author.last_name}
  script.
    var removeAuthor = function(authorId) {
      alert('in the remove button '+authorId);
    }
  script.
    var addAuthor = function() {
      alert('in the add function');
      var selectList = document.getElementById('authorSelect');
      console.log('the selectList: ', selectList);
      var index = selectList.selectedIndex;
      var value = selectList[index].value;
      var authorDiv = "<div id = " + value + "> </div>"
      $('#authorList').append(authorDiv);
      var authorName = selectList[index].text;
      var authorText = "<input name = authorSelect[" + value + "], value = \"" + authorName +  "\">" + "</input>";
      $('#'+value).append(authorText);
      var removeId = document.createElement('button');
      var id = "btnRemove" + value;
      var removeId2 = document.getElementById(id);
      removeId.setAttribute("id", "btnRemove" + value);
      removeId.setAttribute("class", "btnRemove");
      removeId.setAttribute("type", "button");
      removeId.setAttribute("value", value);
      removeId.addEventListener('click', function(){removeAuthor(value)});
      removeId.innerHTML = "Remove";
      $('#authorList').append(removeId);
    }
  button.btnAuthor(type="button", onclick='addAuthor()') Add Author
  br
  br
  input(type = "submit", value = "Add Book")
