include ../layout
  block content
  include layout
    block content2
      for book in booksAuthors
        section.bookSection
          section.bookCover
            img(src="#{book.book.cover_url}")
          section.bookText
            h1 #{book.book.title}
            
