link(rel='stylesheet', href='/stylesheets/books.css')
div.left
  a(href="/authors")
    div.topSide.unselected
      h1 Authors
  a(href="/books")
    div.bottomSide.selected
      h1 Books
div.right
  block content2
