include ../layout
link(rel='stylesheet', href='/stylesheets/restaurants.css')

div.left
  a(href="/authors")
    div.top
      h1.unselected Authors
  a(href="/books")
    div.bottom
      h1.selected Books
