doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Jura:400,500' rel='stylesheet' type='text/css')
  body
    img.logo(src="images/galvanizeLogo.png" alt="")
    block content
