include ../layout
.top div {
  width: 10%;
  height: 90%;
  /*border: solid 3px black;*/
}

.topSide {
  padding-top: 20px;
  height: 50%;
}

.bottomSide {
  padding-top: 20px;
  height: 50%;
}

.left {
  display: inline-block;
  width: 10%;
  height: 75vh;
  /*border: solid 3px black;*/
}

.right {
  display: inline-block;
  vertical-align:top;
  width: 80%;
  height: 80vh;
  /*border: solid 3px black;*/
}

.left h1 {
  display: inline-block;
  width: 100%;
  text-align: left;
  transform: rotate(-90deg);
}

.selected {
  background-color: gray;
}

.unselected {
  background-color: white;
}

.bookSection {
  margin:15px;
  /*border: solid 3px black;*/
}

.bookCover {
  display: inline-block;
  width: 25%;
  height: 50%;
  border: solid 3px black;
}

.bookCover img {
  max-width:100%;
  max-height:100%;
}

.bookText {
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  width: 70%;
  height: 100%;
  /*border: solid 3px black;*/
}

.content {
  display: inline-block;
  width: 75%;
}

.buttons {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 30px;
  /*border: solid 3px black;*/
}

.buttons button {
  display: inline-block;
  margin: 10px;
  height: 40px;
}

.btnAuthor {
  display: inline-block;
  background-color: #DDDDDD;
}

h5 {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.textDescription {
  height: 30px;
}

.textAuthors {
  height: 60px;
  display: inline-block;
}

.sectionAuthorRemove {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  /*border: solid 3px black;*/
}

.btnRemove {
  display: inline-block;
  width: 60px;
}

#authorSelect {
  display: inline-block;;
}

#authorList {
  width: 70%;
  border: solid 1px black;
}

.btnLarge {
  height: 50px;
  background-color: #DDDDDD;
}
