include ../layout
.top div {
  width: 10%;
  height: 90%;
  border: solid 3px black;
}

.topSide {
  padding-top: 20px;
  height: 50%;
}

.bottomSide {
  padding-top: 20px;
  height: 50%;
}

/*.side {
  width: 10%;
  height: 50%;
  border: solid 3px black;
}*/

.left {
  display: inline-block;
  width: 10%;
  border: solid 3px black;
}

.right {
  display: inline-block;
  vertical-align:top;
  width: 80%;
  border: solid 3px black;
}

.left h1 {
  display: inline-block;
  width: 100%;
  text-align: left;
  transform: rotate(-90deg);
}

.selected {
  background-color: gray;
}

.unselected {
  background-color: white;
}

.bookSection {
  border: solid 3px black;
}
  
}
