link(rel='stylesheet', href='/stylesheets/authors.css')
div.left
  a(href="/authors")
    div.topSide.selected
      h1 Authors
  a(href="/books")
    div.bottomSide.unselected
      h1 Books
div.right
  block content2
